@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
  
  .animate-gradient {
    background: linear-gradient(90deg, rgb(0, 64, 255), rgb(7, 59, 148), rgb(66, 127, 232));
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 5s linear infinite;
  }